@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;

@font-face{
    font-family:'BullText';
    font-weight:400;
    src:url(../fonts/BullText-Regular.otf) format("opentype")}


@font-face{
    font-family:'BullText';
    font-weight:500;
    src:url(../fonts/BullText-Medium.otf) format("opentype")}


@font-face{
    font-family:'BullText';
    font-weight:800;
    src:url(../fonts/BullText-Bold.otf) format("opentype")}

@font-face{
    font-family:'NTF-Grand';
    font-style:normal;
    src:url(../fonts/NTF-Grand-Medium.otf) format("opentype")}




@tailwind components;

@tailwind utilities;

.btn-primary {
    @apply rounded p-4 bg-primary text-secondary w-full inline-block text-center font-bold;
}

.btn-secondary {
    @apply rounded p-4 bg-secondary text-secondary w-full inline-block text-center font-bold;
}

.btn-custom {
    background-color: #0C2044;
    font-family: 'BullText', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
    @apply rounded py-2 pl-4 text-white text-center pr-8 relative;
}

.btn-custom::after {
    content: ">";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}
.btn-custom:hover {
    opacity: 0.5;
}

.btn-custom-secondary {
    border: 2px solid #dd013f;
    color: #dd013f;
    font-family: 'BullText', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
    @apply rounded py-2 pl-4 text-center pr-8 relative;
}

.btn-custom-secondary::after {
    content: ">";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}
.btn-custom-secondary:hover {
    opacity: 0.5;
}

.input-focus {
    border-width: 1px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: 'BullText', sans-serif;
    @apply border rounded p-3 leading-tight w-full;
}

.input-focus:focus {
    border-bottom: 3px solid #0C2044;
    margin-bottom: 0;
    outline: none;
}

.arrow-more-content {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.95;

    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

    cursor: pointer;
}
.scroll-up-btn {
    position: fixed;
    right: -100px;
    bottom: 20px;
    transition: right 0.5s;
    cursor: pointer;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.95;

    background-color: rgba(119, 119, 119, 0.9);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-up-btn-fade {
    right: 20px;
}
